
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content_position">
        <div style="padding:30px;">
            <h3>Logout</h3>
            <p>You are now logged out. <br />
                We look forward to seeing you back soon.</p>

            <br />

            <a href="/">Click here</a> to go to home page<br />
        </div>
</div>

