html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "RalewayRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  margin-bottom: 30px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
/*BUTTONS*/
.my_btn {
  background-color: #1A3668;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
.field-validation-error {
  color: #D13232;
  padding-left: 0;
  font-size: 15px;
}
.input-validation-error {
  border: 2px solid #D13232;
}
.my_btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn_md {
  padding: 10px 30px;
}
/*HEADER*/
header {
  height: 60px;
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
}
nav {
  height: 94px;
  line-height: 94px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.menu {
  margin-left: -15px;
  padding: 0;
}
.menu > li > a:hover,
.nav > li > a:focus {
  background-color: #1A3668;
  color: #FFF;
}
.menu li a {
  color: #666666;
  text-transform: uppercase;
  font-family: 'RalewayBold', sans-serif;
}
.menu li a:hover,
.menu li a:focus {
  background-color: #1A3668;
  text-decoration: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #1A3668;
  border-color: #1A3668;
  color: #fff;
}
.search_panel {
  min-width: 30px;
  margin: 0 0;
}
#bootstrap-overrides .search_box {
  width: 50%;
  margin: 0 5px;
}
#bootstrap-overrides div.form-group {
  display: block;
}
#first-navbar.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.item_divider {
  display: none;
}
.navbar-brand {
  height: auto;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #1A3668;
  background-image: -webkit-linear-gradient(top, #1A3668 0%, #1A3668 100%);
  background-image: -o-linear-gradient(top, #1A3668 0%, #1A3668 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A3668), to(#1A3668));
  background-image: linear-gradient(to bottom, #1A3668 0%, #1A3668 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  color: #fff;
}
.dropdown-menu > li > a:focus {
  background-color: #1A3668;
}
.dropdown-menu .divider {
  margin: 0 0;
}
.top_line {
  height: 1px;
  background-color: #666666;
}
.logo {
  padding-top: 5px;
}
.title_block {
  color: #666666;
  text-align: center;
  margin-top: 200px;
}
.title_block h1 {
  font-size: 50px;
  font-family: 'RalewayBold', sans-serif;
  margin-bottom: 30px;
}
.title_block p {
  font-size: 18px;
  margin-bottom: 50px;
}
.user-icon {
  padding-right: 0.2em;
}
/*--->PARAMETRS SECTION*/
.params_s {
  padding-top: 2em;
}
.param_block {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.param_block i {
  font-size: 70px;
  color: #e84545;
}
.param_block h3 {
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  font-size: 18px;
}
.categories_img {
  display: inline-block;
  width: 80px;
}
.param_block:hover > h3 > a {
  cursor: pointer;
  text-decoration: none;
  color: #196cb7;
}
.param_block > h3 > a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
#bootstrap-overrides .param_block > h3 {
  margin-top: 0;
}
.param_block:hover .categories_fill {
  fill: #196cb7;
}
/*<---PARAMETRS SECTION*/
#signup-user {
  width: 33%;
}
.content_position {
  padding: 68px 0 80px 0;
}
#bootstrap-overrides .input_checkbox {
  margin-right: 10px;
}
#bootstrap-overrides .cancel_bold_font {
  font-weight: normal;
}
#bootstrap-overrides #account_ref {
  padding: 4px 0 5px 8px;
}
#bootstrap-overrides #account_menu_caret {
  margin-left: 0;
}
#footer > p {
  text-align: center;
}
.name_product_in_list {
  height: 1.5em;
}
.discount {
  position: absolute;
  top: -15px;
  right: -6px;
}
.discount_value {
  position: absolute;
  top: 20px;
  left: 12px;
  color: azure;
}
#bootstrap-overrides .category_row {
  margin-top: 48px;
}
.row-backlink {
  padding: 10px 0;
}
.price_product {
  font-size: 21px;
}
.img_product {
  width: 400px;
}
.slider {
  margin-top: 15px;
  margin-bottom: 15px;
}
img.img_product:hover {
  cursor: zoom-in;
}
#bootstrap-overrides .nav > li.cart_style > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #666666;
}
#bootstrap-overrides .nav > li.cart_style > a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #666666;
}
.cart_icon {
  margin-left: 5px;
  margin-right: 15px;
}
.badge_count_product {
  margin-top: -0.5em;
}
.cart_btn {
  margin-left: 5px;
  margin-top: 0;
}
.alert-add-cart {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: none;
}