.slected-navs {
  background-color: cornflowerblue;
  color: whitesmoke;
}
.custom-dropdown-menu:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
}
.custom-list-dropdown-menu {
  border-radius: 10px;
}
.nav-items-in-top {
  padding-left: 7px;
}